

/**/

body {
    font-family: Arial, Helvetica, sans-serif;
    padding:3%;
}

header {
	font-size: 4vw;
	box-shadow: -3px 4px 7px -5px rgba(0, 0, 0, 0.5);
}

ul {
	list-style-type: none;
	font-size: 15px;
	padding-left: 4px
}

footer {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 6px 9px -4px gray;
	
}

table th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	background-color: rgb(73, 90, 76);
	color: white;
}

table {
	width: 100%;
	font-size: 11px;
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background-color: rgb(189, 188, 188);
}

td,
th {
	padding: 8px;
}

.box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.box :nth-child(1) {
	order: 1;
}

.box :nth-child(2) {
	order: 3;
}

.box :nth-child(3) {
	order: 2;
}

.box :nth-child(4) {
	order: 4;
}

.box :nth-child(5) {
	order: 5;
}

.box :nth-child(6) {
	order: 6;
}
.logo{
	padding-bottom: 5px;
}
.large-menu a {
	text-decoration: none;
	color: rgb(138, 137, 137);
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-flex {
	display: flex;
	align-items: center;
}

.container {
	position: relative;
	overflow: hidden;
}

.container .content {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	bottom: 0;
	color: white;
	padding: 0px 5px 0px 5px;
}

.more {
	text-decoration: none;
	color: grey;
}

.top-news {
	color: grey;
	font-size: 3ev;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footer-links {
	text-decoration: none;
	font-size: 13px;
	color: grey;
	padding:5px;
}

.latest-news-container {
	display: flex;
	flex-direction: column;
}

.weath-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.weather-images {
	width: 150px;
	height: auto;
}

.heading {
	overflow: hidden;
	white-space: nowrap;
}

.weather {
	margin-top: 10px;
	font-size: 4vw;
}

.top-bar-first-two-elements {
	display: flex;
	align-items: center;
}


/*for medium screens*/

@media only screen and (min-width: 600px) {
	h3 {
		font-size: 17px;
	}
	p {
		font-size: 14px;
	}
	aside {
		width: 40%;
		height: 80%;
        overflow: hidden;
        line-height: 0.1;
	}
	table {
		font-size: 13px;
	}
	.box {
		display: flex;
		flex-direction: row;
        justify-content: space-between;
        align-items: center;
	}
	.box :nth-child(1) {
		order: 1;
	}
	.box :nth-child(2) {
		order: 2;
	}
	.box :nth-child(3) {
		order: 3;
	}
	.box :nth-child(4) {
		order: 4;
	}
	.box :nth-child(5) {
		order: 5;
	}
	.box :nth-child(6) {
		order: 6;
	}
	.container {
		width: 55%;
		margin-left: -20px;
		position: relative;
	}
	.responsive {
		width: 100%;
		height: auto;
	}
	.container .content {
		width: 100%;
		height: auto;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.5);
		color: white;
	}
	.logo {
		width: 50px;
		max-height: 70px;
		padding-right: 4%;
	}
	.menu-bar {
		display: none;
	}
	.large-menu {
		margin: 20px;
	}
	.latest-news {
		width: 25%;
		float: left;
		margin: 5px;
	}
	.latest-news-container {
		font-size: 20px;
	}
	.weather-images {
		width: 100px;
		height: auto;
	}
	.weather {
		font-size: 19px;
	}
	.weath-flex {
		width: 80%;
	}
}

/*for medium screen */
@media only screen and (max-width: 600px) {
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		font-size: 18px;
	}
	h3 {
		font-size: 15px;
	}
	p {
		font-size: 12px;
	}
	aside {
		width: 100%;
	}

	.logo {
		width: 50px;
		height: 50px;
		padding-right: 5%;
	}
	.menu-bar {
		width: 30px;
		height: 30px;
		padding-top: 10px;
	}
	.responsive {
		width: 100%;
		height: auto;
	}
	.latest-news-container {
		font-size: 15px;
		;
	}
	.weather-country {
		font-size: 19px;
	}
	.latest-news {
		width: 40%;
		float: left;
		margin: 5px;
	}
	.large-menu {
		display: none;
	}
}


/*for large screens*/

@media only screen and (min-width: 800px) {
	h3 {
		font-size: 2vw;
	}
	p {
		font-size: 14px;
	}
	body {
		margin: 0 20% 0 20%;
	}
	aside {
        width: 100%;
        line-height: 1;
    }
    .top-bar-first-two-elements {
        font-size: 35px;
    }
	.box :nth-child(1) {
		order: 1;
	}
	.box :nth-child(2) {
		order: 3;
	}
	.box :nth-child(3) {
		order: 2;
	}
	.box :nth-child(4) {
		order: 4;
	}
	.box :nth-child(5) {
		order: 5;
	}
	.box :nth-child(6) {
		order: 6;
	}
	.topnews {
		font-size: 16px;
	}
	.weather {
		font-size: 28px;
	}
	.logo {
		width: 60px;
		max-height: 70px;
		padding-right: 4%
	}
	.menu-bar {
		display: none;
	}
	.responsive {
		width: 100%;
		height: auto;
	}
	.large-menu {
		margin: 20px;
	}
	table {
		font-size: 13px;
	}
	.latest-news {
		width: 25%;
		float: left;
		margin: 5px;
	}
	.container {
		width: 100%;
	}
	.container .content {
		max-width: 100%;
		height: auto;
		overflow: hidden;
	}
	.weath-flex {
		width: 100%;
    }
    .weather-images{
		width:150px;
	}
}

@media only screen and (min-width: 1097px) {
	body {
		width: 658px;
		display: flex;
		justify-content: center;
	}
}

